
/* Styles for the body element */
body {
 font-family: 'Arial', sans-serif;
 margin: 20px;
 background-color: #fbe8b5;
 font-weight: normal;
}
/* Styling for all h1 elements */
h1 {
 color: #000000;
 background-color: skyblue;
 text-align: center;
 font-size: 50px;
 border: 5px ridge gray;
 margin-left: 250px;
 margin-right: 250px;
}
/* Paragraph styling */
p {
 color: #000000;
 line-height: 1.5;
 font-size: 35px;
 text-align: center;
}
/* Styling a div with the class "styled-box" */
.styled-box {
 background-color: #fdf6e3;
 padding: 30px;
 margin-top: 40px;
 text-align: center;
 font-size: 40px;
 border: 5px ridge gray; 
 margin-left: 250px;
 margin-right: 250px; 
}
/* Styling an element with the ID "unique-text" */
#unique-text {
 background-color: #ffe49d;
 color: #000000;
 font-weight: bold;
 border: 3px ridge gray; 
 margin-right: 250px;
 margin-left: 250px;
 text-align: center;
}
